body {
  font-family: "Arial", sans-serif;
  font-size: 18px;
}

li {
  display: inline-flex;
  list-style: none;
  margin: 3px;
  padding-right: 10px;
}

a {
  color: black;
  text-decoration: none;
}

.mainDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.searchBar {
  width: 584px;
  height: 50px;
  font-size: 20px;
  padding: 5px 35px;
  margin: 10px;
  border-style: solid;
  border-radius: 50px;
  border-width: 0.5px;
  border-color: gray;
}

.Button {
  font-size: 18px;
  text-align: center;
  width: 200px;
  height: 45px;
  margin: 15px 10px;
  background-color: rgba(237, 237, 237, 0.478);
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: whitesmoke;
  color: gray;
}

.Button:hover {
  border-color: black;
}

.container {
  display: flex;
  flex-direction: column;
}

.item1 {
  align-self: flex-end;
}

.item2 {
  padding: 15% 2% 2% 2%;
  text-align: center;
}

.item3 {
  align-self: center;
}

.item4 {
  margin: 5px;
  padding: 5px;
}

.label {
  min-width: 200px;
  min-height: 42px;
  width: 16%;
  font-size: 15px;
  display: inline-block;
}

.advSearchBar {
  min-width: 500px;
  min-height: 42px;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.asb {
  width: 499px;
  height: 30px;
  padding: 5px;
}
